body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mbxc {
    position: absolute;
    bottom: 0;
    top: 25%;
    height: min-content;
}

.mbx {
    width: 100%;
    height: min-content;
}

.key {
    position: absolute;
    width: 15%;
    cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rot180 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rot360 {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    from {
        top: -3%;
    }

    to {
        top: 103%;
    }
}

.hide {
    opacity: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 10s;
    animation-timing-function: linear;
    opacity: 0;
}

.show {
    animation-name: show;
    animation-duration: 10s;
    opacity: 1;
    animation-timing-function: linear;
}

.rot180 {
    animation-duration: 0.3s;
    animation-name: rot180;
    transform: rotate(180deg);
    animation-timing-function: linear;
}

.rot360 {
    animation-duration: 0.3s;
    animation-name: rot360;
    transform: rotate(0deg);
    animation-timing-function: linear;
}

#snow>img {
    width: 6px;
    height: 6px;
    position: relative;
}

.bg {
    background-image: url("assets/forest.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media(max-width:988px) {
    .mbxc {
        width: 70%;
        left: 15%;
    }

    .key {
        top: 22%;
        right: 25.6%;
    }

    #snow {
        position: absolute;
        height: 70%;
        top: 10%;
    }

    .frame {
        height: 100%;
        top: 0;
        position: absolute;
    }

    #snow > img {
        width: 16px;
        height: 16px;
    }
}

@media(min-width:988px) {
    .mbxc {
        width: 50%;
        left: 25%;
    }

    .key {
        top: 22%;
        right: 25.6%;
    }

    #snow {
        position: absolute;
        height: 70%;
        top: 10%;
    }

    .frame {
        width: 100%;
        left: 0;
        position: absolute;
    }
}